body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('movie.jpg');
    background-size: auto; 
    background-position: center;
    color: #fff;
    padding: 100px 0;
    text-align: center; /* Align all text in the center */
}

h2 {
    text-align: center; /* Align h2 headings in the center */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

header {
    padding: 20px 0;
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.menu-btn:focus {
    outline: none;
}

.main-nav {
    display: flex;
    justify-content: center;
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav ul li {
    margin-right: 20px;
}

.main-nav ul li a {
    color: #fff;
    text-decoration: none;
}

header .logo {
    width: 150px;
    height: auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f44336;
}

#hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #d32f2f;
}

.featured-section {
    padding: 50px 0;
    text-align: center;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping of images */
}

.featured-section img {
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.featured-section img:hover {
    transform: scale(1.1); /* Increase size by 10% */
    transition: transform 0.3s ease; /* Add smooth transition */
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

@media screen and (max-width: 768px) {
    .menu-btn {
        display: block;
    }

    .main-nav {
        display: none;
    }

    .main-nav.active {
        display: flex;
    }

    .main-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .main-nav ul li {
        margin: 10px 0;
    }
}



