
body { 
    background-image: url('spideyy.jpg'); 
  }

header {
      padding: 20px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
main {
    padding: 20px;
}
.btn {
    display: inline-block; 
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.featured-movies,
.featured-tv-shows,
.featured-games {
    margin-top: 40px;
}
footer {
 text-align: center;
 padding: 20px;
}
